# **Churn Prediction**

**Churn rate** adalah ukuran jumlah orang atau benda yang masuk atau keluar dari suatu kelompok dalam jangka waktu tertentu. Istilah ini biasanya digunakan dalam konteks customer base sebagai persentase pelanggan yang meninggalkan supplier dalam jangka waktu tertentu.

**Parameter**:
1. **RowNumberRow**: Dari 1 hingga 10000.
2. **CustomerIdUnique**: Id setiap pelanggan bank.
3. **SurnameCustomer**'s: Nama belakang setiap pelanggan bank.
4. **CreditScoreCredit**: Kredit Skor setiap pelanggan.
5. **Geography**: Negara asal pelanggan bank: Jerman, Prancis, Spanyol dan lainnya.
6. **Gender**: Male atau Female.
7. **Age**: Umur pelanggan.
8. **TenureNumber**: Tahun pelanggan menjadi anggota.
9. **BalanceBank**: Saldo pelanggan.
10. **NumOfProductsNumber**: Produk yang digunakan pelanggan.
11. **HasCrCardBinary**: 1: Pelanggan memiliki kartu kredit dan 0: Pelanggan tidak memiliki kartu kredit.
12. **IsActiveMemberBinary**: Aktif atau Pasif pelanggan
13. **EstimatedSalaryEstimated**: Gaji pelanggan

**Target**:

14. **ExitedBinary**: flag 1 if the customer closed account with bank and 0 if the customer is retained

In [8]:
# IMPORT LIBRARY
import keras
import numpy as np
import pandas as pd
import seaborn as sns
from keras.models import Sequential
from keras.layers import Dense

In [7]:
# DOWNLOAD DATA CHURN
!curl -O https://raw.githubusercontent.com/SangsakaWira/Materi-AI-Codedirect/master/Dataset/Churn_Modelling.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  668k  100  668k    0     0  53641      0  0:00:12  0:00:12 --:--:-- 43954     0  57247      0  0:00:11  0:00:09  0:00:02 559520:09  0:00:03 54969

In [9]:
dataset = pd.read_csv("Churn_Modelling.csv")

In [0]:
dataset

      RowNumber  CustomerId  ... EstimatedSalary  Exited
0             1    15634602  ...       101348.88       1
1             2    15647311  ...       112542.58       0
2             3    15619304  ...       113931.57       1
3             4    15701354  ...        93826.63       0
4             5    15737888  ...        79084.10       0
5             6    15574012  ...       149756.71       1
6             7    15592531  ...        10062.80       0
7             8    15656148  ...       119346.88       1
8             9    15792365  ...        74940.50       0
9            10    15592389  ...        71725.73       0
10           11    15767821  ...        80181.12       0
11           12    15737173  ...        76390.01       0
12           13    15632264  ...        26260.98       0
13           14    15691483  ...       190857.79       0
14           15    15600882  ...        65951.65       0
15           16    15643966  ...        64327.26       0
16           17    15737452  ...         5097.67       1
17           18    15788218  ...        14406.41       0
18           19    15661507  ...       158684.81       0
19           20    15568982  ...        54724.03       0
20           21    15577657  ...       170886.17       0
21           22    15597945  ...       138555.46       0
22           23    15699309  ...       118913.53       1
23           24    15725737  ...         8487.75       0
24           25    15625047  ...       187616.16       0
25           26    15738191  ...       124508.29       0
26           27    15736816  ...       170041.95       0
27           28    15700772  ...        38433.35       0
28           29    15728693  ...       100187.43       0
29           30    15656300  ...        53483.21       0
...         ...         ...  ...             ...     ...
9970       9971    15587133  ...       119377.36       0
9971       9972    15721377  ...       166472.81       0
9972       9973    15747927  ...       171552.02       0
9973       9974    15806455  ...       157474.10       0
9974       9975    15695474  ...        13549.24       0
9975       9976    15666295  ...       196526.55       1
9976       9977    15656062  ...        84419.78       0
9977       9978    15579969  ...        24991.92       0
9978       9979    15703563  ...       191608.97       0
9979       9980    15692664  ...         2988.28       0
9980       9981    15719276  ...        99595.67       0
9981       9982    15672754  ...        53445.17       1
9982       9983    15768163  ...       115146.40       1
9983       9984    15656710  ...       151325.24       0
9984       9985    15696175  ...        51695.41       0
9985       9986    15586914  ...        96833.00       0
9986       9987    15581736  ...        34047.54       0
9987       9988    15588839  ...         1914.41       0
9988       9989    15589329  ...        49337.84       0
9989       9990    15605622  ...       179436.60       0
9990       9991    15798964  ...        53667.08       0
9991       9992    15769959  ...        69384.71       1
9992       9993    15657105  ...       195192.40       0
9993       9994    15569266  ...        29179.52       0
9994       9995    15719294  ...       167773.55       0
9995       9996    15606229  ...        96270.64       0
9996       9997    15569892  ...       101699.77       0
9997       9998    15584532  ...        42085.58       1
9998       9999    15682355  ...        92888.52       1
9999      10000    15628319  ...        38190.78       0

[10000 rows x 14 columns]

# PRE-PROCESSING DATA

Disini kita akan membersihkan data sebelum dimasukkan pada model ANN kita. Ada beberapa data yang perlu dibuang dikarenakan tidak relevan.

In [0]:
# MENGUBAH FORMAT DATA
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [0]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [0]:
# ENCODING CATEGORICAL DATA
from sklearn.preprocessing import LabelEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
from sklearn.preprocessing import LabelEncoder
labelencoder_X_2 = LabelEncoder()
X[:,2] = labelencoder_X_2.fit_transform(X[:,2])

In [0]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

onehotencoder = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(), [1])],    
    remainder='passthrough'                        
)

# onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X)
X = X[:, 1:]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [0]:
X

array([[0.0, 0.0, 619, ..., 1, 1, 101348.88],
       [0.0, 1.0, 608, ..., 0, 1, 112542.58],
       [0.0, 0.0, 502, ..., 1, 0, 113931.57],
       ...,
       [0.0, 0.0, 709, ..., 0, 1, 42085.58],
       [1.0, 0.0, 772, ..., 1, 0, 92888.52],
       [0.0, 0.0, 792, ..., 1, 0, 38190.78]], dtype=object)

In [0]:
# SPLIT DATA
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [0]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 100, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 100, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the second hidden layer
classifier.add(Dense(units = 100, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the second hidden layer
classifier.add(Dense(units = 100, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the second hidden layer
classifier.add(Dense(units = 100, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the second hidden layer
classifier.add(Dense(units = 100, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [0]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10000, epochs = 100,validation_data=(X_test,y_test))

Train on 7000 samples, validate on 3000 samples
Epoch 1/100
7000/7000 [==============================] - 1s 203us/step - loss: 0.7399 - acc: 0.2109 - val_loss: 0.5611 - val_acc: 0.7930
Epoch 2/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5600 - acc: 0.7977 - val_loss: 0.5908 - val_acc: 0.7930
Epoch 3/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5841 - acc: 0.7977 - val_loss: 0.5771 - val_acc: 0.7930
Epoch 4/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5710 - acc: 0.7977 - val_loss: 0.5446 - val_acc: 0.7930
Epoch 5/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5409 - acc: 0.7977 - val_loss: 0.5459 - val_acc: 0.7930
Epoch 6/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5429 - acc: 0.7977 - val_loss: 0.5485 - val_acc: 0.7930
Epoch 7/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5447 - acc: 0.7977 - val_loss: 0.5414 - val_acc: 0.7930
Epoch 8/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5369 - acc: 0.7977 - val_loss: 0.5392 - val_acc: 0.7930
Epoch 9/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5344 - acc: 0.7977 - val_loss: 0.5434 - val_acc: 0.7930
Epoch 10/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5382 - acc: 0.7977 - val_loss: 0.5387 - val_acc: 0.7930
Epoch 11/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5332 - acc: 0.7977 - val_loss: 0.5337 - val_acc: 0.7930
Epoch 12/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5280 - acc: 0.7977 - val_loss: 0.5345 - val_acc: 0.7930
Epoch 13/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5287 - acc: 0.7977 - val_loss: 0.5353 - val_acc: 0.7930
Epoch 14/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5296 - acc: 0.7977 - val_loss: 0.5341 - val_acc: 0.7930
Epoch 15/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5281 - acc: 0.7977 - val_loss: 0.5335 - val_acc: 0.7930
Epoch 16/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5271 - acc: 0.7977 - val_loss: 0.5338 - val_acc: 0.7930
Epoch 17/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5270 - acc: 0.7977 - val_loss: 0.5336 - val_acc: 0.7930
Epoch 18/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5265 - acc: 0.7977 - val_loss: 0.5336 - val_acc: 0.7930
Epoch 19/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5263 - acc: 0.7977 - val_loss: 0.5342 - val_acc: 0.7930
Epoch 20/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5267 - acc: 0.7977 - val_loss: 0.5343 - val_acc: 0.7930
Epoch 21/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5268 - acc: 0.7977 - val_loss: 0.5332 - val_acc: 0.7930
Epoch 22/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5260 - acc: 0.7977 - val_loss: 0.5321 - val_acc: 0.7930
Epoch 23/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5252 - acc: 0.7977 - val_loss: 0.5322 - val_acc: 0.7930
Epoch 24/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5255 - acc: 0.7977 - val_loss: 0.5325 - val_acc: 0.7930
Epoch 25/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5259 - acc: 0.7977 - val_loss: 0.5320 - val_acc: 0.7930
Epoch 26/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5253 - acc: 0.7977 - val_loss: 0.5316 - val_acc: 0.7930
Epoch 27/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5248 - acc: 0.7977 - val_loss: 0.5319 - val_acc: 0.7930
Epoch 28/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5248 - acc: 0.7977 - val_loss: 0.5322 - val_acc: 0.7930
Epoch 29/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5250 - acc: 0.7977 - val_loss: 0.5318 - val_acc: 0.7930
Epoch 30/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5247 - acc: 0.7977 - val_loss: 0.5313 - val_acc: 0.7930
Epoch 31/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5243 - acc: 0.7977 - val_loss: 0.5311 - val_acc: 0.7930
Epoch 32/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5242 - acc: 0.7977 - val_loss: 0.5311 - val_acc: 0.7930
Epoch 33/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5242 - acc: 0.7977 - val_loss: 0.5309 - val_acc: 0.7930
Epoch 34/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5240 - acc: 0.7977 - val_loss: 0.5306 - val_acc: 0.7930
Epoch 35/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5235 - acc: 0.7977 - val_loss: 0.5305 - val_acc: 0.7930
Epoch 36/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5233 - acc: 0.7977 - val_loss: 0.5306 - val_acc: 0.7930
Epoch 37/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5233 - acc: 0.7977 - val_loss: 0.5302 - val_acc: 0.7930
Epoch 38/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5230 - acc: 0.7977 - val_loss: 0.5297 - val_acc: 0.7930
Epoch 39/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5225 - acc: 0.7977 - val_loss: 0.5295 - val_acc: 0.7930
Epoch 40/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5223 - acc: 0.7977 - val_loss: 0.5291 - val_acc: 0.7930
Epoch 41/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5221 - acc: 0.7977 - val_loss: 0.5288 - val_acc: 0.7930
Epoch 42/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5214 - acc: 0.7977 - val_loss: 0.5282 - val_acc: 0.7930
Epoch 43/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5206 - acc: 0.7977 - val_loss: 0.5281 - val_acc: 0.7930
Epoch 44/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5210 - acc: 0.7977 - val_loss: 0.5317 - val_acc: 0.7930
Epoch 45/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5239 - acc: 0.7977 - val_loss: 0.5282 - val_acc: 0.7930
Epoch 46/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5212 - acc: 0.7977 - val_loss: 0.5266 - val_acc: 0.7930
Epoch 47/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5192 - acc: 0.7977 - val_loss: 0.5303 - val_acc: 0.7930
Epoch 48/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5223 - acc: 0.7977 - val_loss: 0.5253 - val_acc: 0.7930
Epoch 49/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5175 - acc: 0.7977 - val_loss: 0.5265 - val_acc: 0.7930
Epoch 50/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5192 - acc: 0.7977 - val_loss: 0.5249 - val_acc: 0.7930
Epoch 51/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5165 - acc: 0.7977 - val_loss: 0.5251 - val_acc: 0.7930
Epoch 52/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5165 - acc: 0.7977 - val_loss: 0.5258 - val_acc: 0.7930
Epoch 53/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5183 - acc: 0.7977 - val_loss: 0.5223 - val_acc: 0.7930
Epoch 54/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5138 - acc: 0.7977 - val_loss: 0.5292 - val_acc: 0.7930
Epoch 55/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5203 - acc: 0.7977 - val_loss: 0.5276 - val_acc: 0.7930
Epoch 56/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5205 - acc: 0.7977 - val_loss: 0.5278 - val_acc: 0.7930
Epoch 57/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5209 - acc: 0.7977 - val_loss: 0.5213 - val_acc: 0.7930
Epoch 58/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5127 - acc: 0.7977 - val_loss: 0.5299 - val_acc: 0.7930
Epoch 59/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5206 - acc: 0.7977 - val_loss: 0.5201 - val_acc: 0.7930
Epoch 60/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5107 - acc: 0.7977 - val_loss: 0.5234 - val_acc: 0.7930
Epoch 61/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5150 - acc: 0.7977 - val_loss: 0.5213 - val_acc: 0.7930
Epoch 62/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5125 - acc: 0.7977 - val_loss: 0.5187 - val_acc: 0.7930
Epoch 63/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5084 - acc: 0.7977 - val_loss: 0.5244 - val_acc: 0.7930
Epoch 64/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5134 - acc: 0.7977 - val_loss: 0.5179 - val_acc: 0.7930
Epoch 65/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5079 - acc: 0.7977 - val_loss: 0.5202 - val_acc: 0.7930
Epoch 66/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5105 - acc: 0.7977 - val_loss: 0.5146 - val_acc: 0.7930
Epoch 67/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5035 - acc: 0.7977 - val_loss: 0.5619 - val_acc: 0.7930
Epoch 68/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5507 - acc: 0.7977 - val_loss: 0.5266 - val_acc: 0.7930
Epoch 69/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5197 - acc: 0.7977 - val_loss: 0.5332 - val_acc: 0.7930
Epoch 70/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5278 - acc: 0.7977 - val_loss: 0.5341 - val_acc: 0.7930
Epoch 71/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5288 - acc: 0.7977 - val_loss: 0.5350 - val_acc: 0.7930
Epoch 72/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5292 - acc: 0.7977 - val_loss: 0.5340 - val_acc: 0.7930
Epoch 73/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5279 - acc: 0.7977 - val_loss: 0.5314 - val_acc: 0.7930
Epoch 74/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5253 - acc: 0.7977 - val_loss: 0.5306 - val_acc: 0.7930
Epoch 75/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5246 - acc: 0.7977 - val_loss: 0.5307 - val_acc: 0.7930
Epoch 76/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5245 - acc: 0.7977 - val_loss: 0.5301 - val_acc: 0.7930
Epoch 77/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5236 - acc: 0.7977 - val_loss: 0.5299 - val_acc: 0.7930
Epoch 78/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5231 - acc: 0.7977 - val_loss: 0.5293 - val_acc: 0.7930
Epoch 79/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5223 - acc: 0.7977 - val_loss: 0.5289 - val_acc: 0.7930
Epoch 80/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5214 - acc: 0.7977 - val_loss: 0.5291 - val_acc: 0.7930
Epoch 81/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5212 - acc: 0.7977 - val_loss: 0.5288 - val_acc: 0.7930
Epoch 82/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5207 - acc: 0.7977 - val_loss: 0.5294 - val_acc: 0.7930
Epoch 83/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5210 - acc: 0.7977 - val_loss: 0.5292 - val_acc: 0.7930
Epoch 84/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5205 - acc: 0.7977 - val_loss: 0.5291 - val_acc: 0.7930
Epoch 85/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5203 - acc: 0.7977 - val_loss: 0.5282 - val_acc: 0.7930
Epoch 86/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5195 - acc: 0.7977 - val_loss: 0.5278 - val_acc: 0.7930
Epoch 87/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5192 - acc: 0.7977 - val_loss: 0.5270 - val_acc: 0.7930
Epoch 88/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5184 - acc: 0.7977 - val_loss: 0.5266 - val_acc: 0.7930
Epoch 89/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5181 - acc: 0.7977 - val_loss: 0.5264 - val_acc: 0.7930
Epoch 90/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5179 - acc: 0.7977 - val_loss: 0.5261 - val_acc: 0.7930
Epoch 91/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5176 - acc: 0.7977 - val_loss: 0.5258 - val_acc: 0.7930
Epoch 92/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5173 - acc: 0.7977 - val_loss: 0.5254 - val_acc: 0.7930
Epoch 93/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5169 - acc: 0.7977 - val_loss: 0.5251 - val_acc: 0.7930
Epoch 94/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5166 - acc: 0.7977 - val_loss: 0.5250 - val_acc: 0.7930
Epoch 95/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5164 - acc: 0.7977 - val_loss: 0.5248 - val_acc: 0.7930
Epoch 96/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5161 - acc: 0.7977 - val_loss: 0.5245 - val_acc: 0.7930
Epoch 97/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5158 - acc: 0.7977 - val_loss: 0.5244 - val_acc: 0.7930
Epoch 98/100
7000/7000 [==============================] - 0s 3us/step - loss: 0.5158 - acc: 0.7977 - val_loss: 0.5241 - val_acc: 0.7930
Epoch 99/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5154 - acc: 0.7977 - val_loss: 0.5231 - val_acc: 0.7930
Epoch 100/100
7000/7000 [==============================] - 0s 4us/step - loss: 0.5147 - acc: 0.7977 - val_loss: 0.5225 - val_acc: 0.7930